$main-blue: #0264a3;
$red: #e00101;

.checkbox
{
    display: none;
}

.checkbox:checked + .burger > .burger__line
{
    border-bottom: 2px solid transparent;
}

.checkbox:checked + .burger > .burger__line:after
{
    transform: rotate(-45deg);
    top: 0;
}
.checkbox:checked + .burger > .burger__line:before
{
    transform: rotate(45deg);
    top: 0;
}

.header-top {
    background-color: $main-blue;

    .burger
    {
        height: 45px;
        width: 45px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1199px)
        {
            display: flex;
        }

        &__line
        {
            transition: .4s;
            border-bottom: 2px solid white;
            width: 35px;
            height: 2px;
            position: relative;

            &::after
            {
                content: '';
                position: absolute;
                top: 7px;
                border-bottom: 2px solid white;
                height: 2px;
                width: 35px;
                transition: .4s;
            }
            &::before
            {
                content: '';
                position: absolute;
                top: -7px;
                border-bottom: 2px solid white;
                height: 2px;
                width: 35px;
                transition: .4s;
            }
        }
    }

    .nav {
        height: 50px;

        @media screen and (max-width: 1199px)
        {
            display: none;
        }
        
        &__item{
            margin-right: 40px;
            height: 100%;
           
            &-link{
                color: white;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;
                &:hover{
                    text-decoration: none;
                    border-bottom: 3px solid $red;
                }
            }
            
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.test
{
    background-color: black;
}
.header-nav
{
    display: flex;
    height: 65px;
    align-items: center;
    margin: 20px 0;

    &__button
    {
        background-color: $red;
        color: white;
        font-weight: 600;
        padding: 20px 15px;
        outline: none;
        border: none;
        font-size: 16px;

        &:hover
        {
            animation-name: buttonAnimation;
            animation-duration: 5s;
        }
    }
    &__phones
    {
        width: 170px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;
        font-size: 15px;
    }

    &__social
    {
        display: flex;
        align-items: center;
        margin-top: 12px;

        &-group
        {
            margin-left: 18px;
            width: 71px;
            display: flex;
            justify-content: space-between;
        }
        &-email
        {
            margin-left: 12px;
        }
    }
    &__logo
    {
        margin-right: 20px;
    }
    &__item 
    {
        margin-right: 25px;
        margin-top: 12px;
    }
}
@keyframes buttonAnimation
{
    /*from
    {
        background-color: #0264a3;
    }
    to
    {
        background-color: aqua;
    } */
    0%
    {
     transform: rotate(-15deg);
    }
    5%
    {
        transform: rotate(0deg);
    }
    10%
    {
        transform: rotate(15deg);
    }
    15%
    {
        transform: rotate(0deg);
    }
    20%
    {
        transform: rotate(-35deg);
    }
    30%
    {
        transform: rotate(0deg);
    }
    40%
    {
        transform: rotate(35deg);
    }
    50%
    {
        transform: rotate(0deg);
    }
    75%
    {
        transform: rotate(-180deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}